

  <div class="container-fluid">
  <a href="http://letmegooglethat.com/" target="_blank googleIt">
    <span class="glyphicon glyphicon-question-sign"></span>
  </a>
  <div id="rcorners2"><p><b>Quiz question:</b> {{quizQuestions}}</p>
</div>
</div>
  
<div class="container-fluid col-md-12"> 
  <div class="col-xs-6">
     <button class="btn hover center-block" ng-click="">{{Alt_1}}</button> <br/>
     <button class="btn hover center-block" ng-click="">{{Alt_2}}</button>
  </div>
  <div class="col-xs-6">
    <button class="btn hover center-block" ng-click="">{{Alt_3}}</button> <br/>
    <button class="btn hover center-block" ng-click="">{{Alt_4}}</button>
  </div>
</div>


