

<div class="container-fluid col-md-12 allCenter"> 
  <h2>Quiz settings</h2>
  <br/>
  <div class="col-xs-6">
     <button class="btn hover center-block" ng-click="">Easy</button> <br/>
     <button class="btn hover center-block" ng-click="">Medium</button> <br/>
     <button class="btn hover center-block" ng-click="">Advanced</button>
  </div>
  <div class="col-xs-6" style="padding-top: 57px">
    <select class="form-control" style="width: 250px;">
    <option>{{placeholder}}</option>
    </select>
  </div>
</div>

<div class="container-fluid col-md-12">
  <br/> 
  <a href="!#/quizQuestions" class="btn btn-primary center-block btnDefault">Start quiz!</a> <br/>
</div>

